.titulo {
   text-align: center;
    background-color: rgb(1, 115, 150);
    width: 220px;
    border-radius: 8px;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(233, 185, 27);
}
p {
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(0, 0, 0);
}
 
